#sideNav{
    &.opened{
        width: 250px;
    }
    &.closed{        
        width: 50px;
    }
    .menu-icon{
        font-size: 25px;
        color: white;
        cursor: pointer;
        transition: 0.5s;
        position: absolute;
        right: -25px;
        background: #aeaeae;
    }
    height: 100vh;
    background: #aeaeae;
    position: fixed;
    z-index: 1;
    transition: width 0.5s;
}