<div class="page-card">
  <div class="page-preview">
    <i class="material-icons page-icons">videocam</i>
    <i class="material-icons page-icons">image</i>
  </div>
  <div class="page-description">
    <div class="description-header">
      <h6 class="page-title">Titulo Página</h6>
      <span class="page-status-group">
        <span class="page-status">
          <i class="material-icons status-icon">favorite_border</i>0</span>
        <span class="page-status">
          <i class="material-icons status-icon">insert_comment</i>0</span>
      </span>
    </div>
    <div class="description-text">
      <span>Descrição:</span>
      <p>Breve descrição sobre a página que não pode ultrapassar 3 linhas</p>
    </div>
    <div class="description-tags">
      <span>Tags:</span>
      <br/>
      <span class="tag">Geometria</span>
    </div>
    <div class="description-footer">
      <span class="page-creation">
        Criado por
        <span class="username">
          <i class="material-icons user-icon">person</i>Daniel Bertolini</span>
        em 99/99/9999</span>
    </div>
  </div>
</div>