<header>
  <nav class="blue">
    <div class="nav-wrapper">
      <a uiSref="home" class="left">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li>
          <a uiSref="content.my_pages" [uiParams]="{ type: 'all', pageId: ''}" uiSrefActive="active">Minhas páginas</a>
        </li>
        <li>
          <a uiSref="content.shared_pages" [uiParams]="{ type: 'all', pageId: ''}" uiSrefActive="active">Páginas compartilhadas comigo</a>
        </li>
        <li>
          <a uiSref="content.public_pages" [uiParams]="{ type: 'all', pageId: ''}" uiSrefActive="active" href="#">Páginas públicas</a>
        </li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li>
          <a (click)="openLoginDialog()" *ngIf="!isAutheticated" data-target="modal1" class="modal-trigger">Entrar</a>
          <a (click)="logout()" *ngIf="isAutheticated">Sair</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<pde-login *ngIf="loginOpened" (onLoginClose)="closeLoginDialog()"></pde-login>