.page-content {
    .column {
        width: 31.3%;
        float: left;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 10%;
    }
}

.content {  
    margin-top: 15px;
    min-height: 70px;
    &:hover:not(.active) > span {  
        padding: 5%;   
        display: block;
        text-align: center;
        color: #31e292;
        border-style: dashed;
        cursor: pointer;
        border-radius: 5%;
    }
    &.active {
        .content-feature {
            display: block;
        }
    }
    span {
        display: none;   
    }
    .content-feature {
        display: none;
    }
}